/* MAIN */

.container-page {
    align-items: center;
    background-color: var(--cream);
    display: flex;
    height: 100vh;
    justify-content: center;
}

.container-product {
    align-items: center;
    background-color: var(--white);
    border-radius: 2.5%;
    display: flex;
    justify-content: center;
    width: 50%;
    overflow: hidden;
}


.container-product__information {
    margin-left: 2.5%;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.title-category {
    font-family: var(--font-family-montserrat);
    font-weight: var(--font-weights-x);
}

.title-product {
    font-family: var(--font-family-fraunces);
    font-weight: var(--font-weights-xl);
    font-size: 20px;
}

.description-product {
    font-family: var(--font-family-montserrat);
}

.btn-add-cart {
    display: flex;
    gap: 5%;
    justify-content: center;
    background-color: var(--dark-cyan);
    border: none;
    border-radius: 8px;
    color: var(--white);
    font-family: var(--font-family-montserrat);
    width: 90%;
    padding: 5%;
    margin: 0 15px;
}

/* FOOTER*/

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* RESPONSIVE */

/* Layout */

/* The designs were created to the following widths: - Mobile: 375px - Desktop: 1440px */